@-webkit-keyframes myfirst { /* webkit内核浏览器专属 */
	0% {background-color: red;}
	25% {background-color: yellow;}
	50% {background-color: blue;}
	100% {background-color: green;}
}

@keyframes myfirst { /* 非webkit内核浏览器 */
	0% {background-color: red;}
	25% {background-color: yellow;}
	50% {background-color: blue;}
	100% {background-color: green;}
}


#test {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -75px;
	width: 150px;
	height: 150px;
	border: 1px solid #000;
	background-color: red;
	
	-webkit-animation-name: myfirst; /* 绑定动画选择器名称 */
	-webkit-animation-duration: 5s; /* 一个动画执行的周期时间，单位：秒或者毫秒 */
	-webkit-animation-timing-function: linear; /* 动画变幻规则 */
	-webkit-animation-delay: 2s; /* 动画执行的延迟时间 */
	-webkit-animation-iteration-count: infinite; /* 支持无限循环 */
	-webkit-animation-direction: alternate; /* 设置动画轮播方式 */
	-webkit-animation-play-state: running; /* 设置动画播放状态 */
	
	animation-name: myfirst;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}